.chipsLabel {
  font-size: 12px;
  font-weight: $semi-bold;
  color: $text-secondary;
}

.chipItem {
  display: inline-flex;
  align-items: center;
  gap: $spacing-6;
}

.chipText {
  font-size: 13px;
  font-weight: $regular;
  color: $text-primary;
}
